OCR_ENGINE=paddleocr
OCR_DEVICE=cpu
PADDLE_PDX_MODEL_SOURCE=BOS
OCR_PADDLE_LANG=ru
OCR_USE_DOC_ORIENTATION_CLASSIFY=false
OCR_USE_DOC_UNWARPING=true
OCR_USE_TEXTLINE_ORIENTATION=true
OCR_TEXT_DET_LIMIT_SIDE_LEN=
OCR_TEXT_DET_THRESH=
OCR_TEXT_DET_BOX_THRESH=
OCR_TEXT_DETECTION_MODEL_NAME=
OCR_TEXT_RECOGNITION_MODEL_NAME=
OCR_EXPECTED_LANGUAGES=ru,en
OCR_ENABLE_CENTRAL_CROP=true
OCR_CENTRAL_CROP_FRACTION=0.72
OCR_MAX_UPLOAD_SIZE_BYTES=15728640
OCR_OUTPUT_DIR=/app/outputs
OCR_REPORT_RETENTION=false
